[Unit]
Description=Service for xkeysnail

[Service]
KillMode=process
ExecStart={{ xkeysnail_executable }} {{ xkeysnail_config_dir }}/config.py {{ xkeysnail_args }}
ExecStartPre=/usr/bin/xhost +SI:localuser:root
Type=simple
Restart=always
RestartSec=5

Environment=DISPLAY={{ ansible_env.DISPLAY | default(xkeysnail_display_env) }}

[Install]
WantedBy=graphical.target
